<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-4">
    <div class="col-8 offset-2">
    <h3>Edit your listings</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
        </div>
        <div>
            <label for="description" class="Description">Title</label>
            <textarea name="listing[description]" class="form-control"><%= listing.description%></textarea>
        </div>
        <div>
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required/>
     
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
            </div>
            <div class="col-md-8">
                <label for="country" class="Country">Country</label>
                 <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
            </div>

        </div>
        <div>
            <label for="location" class="Location">Location</label>
             <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
        </div>

        <br><br>
      
        <button class="btn btn-dark edit-btn mt-3 mb-4">Edit</button>
        <br><br>
    </form>
    </div>
</div>
<script src="/js/script.js"></script>